.SearchAction {
  // Vars

  // Support

  // Module
  & {
    //
    overflow: hidden;
    margin-bottom: 2px;
  }

  @media screen and (max-width: 900px) {
    & {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap-reverse;
      justify-content: center;
    }
  }

  // Facets

  // States
}
