.SearchEdit {
  // Vars
  $action-size: 25px;
  $action-api-size: 30px;

  $action-color: #a7a7a7;
  $action-color-hover: #4e92df;

  // Support

  // Module
  & {
    //background: rgba(0, 0, 0, 0.19);
  }

  .SearchWrap {
    border-radius: 25px !important;
    border-width: 0;
    box-shadow: 1px 1px 6px 0 rgba(119, 119, 119, .5);
    display: flex;
    flex-direction: row;
    height: 45px;
    tab-index: 0;
    width: 100%;

    &:hover {
      box-shadow: 1px 1px 6px 0 $action-color-hover;
    }

    .SearchInput {
      flex-grow: 1;
      padding: 10px 10px 10px 20px;
      font-size: 18px;
      color: #555;
      border-width: 0;
      background: none;

      &:focus {
        outline: none;
      }
    }

    .SearchActionWrap {
      height: 100%;
      padding-right: 10px;

      .SearchItem {
        height: 100%;
        width: 35px;
      }

      .ItemBg {
        background-color: $action-color;
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: $action-api-size $action-api-size;
      }

      .ItemBgH {
        background-color: $action-color-hover;
        mask-size: $action-api-size $action-api-size;
        cursor: pointer;
      }

      .SearchMain {
        mask-image: url("../../assets/search.svg");
        @extend .ItemBg;

        &:hover {
          @extend .ItemBgH;
        }
      }

      .SearchApi {
        background-color: $action-color;
        mask-image: url("../../assets/android.svg");
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: $action-api-size $action-api-size;

        &:hover {
          background-color: $action-color-hover;
          mask-size: $action-api-size $action-api-size;
          cursor: pointer;
        }
      }

      .SearchJcenter {
        background-color: $action-color;
        mask-image: url("../../assets/library.svg");
        mask-repeat: no-repeat;
        mask-position: center center;
        mask-size: $action-api-size $action-api-size;

        &:hover {
          background-color: $action-color-hover;
          mask-size: $action-api-size $action-api-size;
          cursor: pointer;
        }
      }
    }
  }


  // Facets

  // States
}
